<!DOCTYPE html>
<html>
  <head>
    <title>Activities</title>
  </head>
  <body>
    <h1>Welcome to {{location.name}}</h1>
    <br>
    <p> Here's some fun things to do while you're here : </p>
    <ul>
    {{#each activities}}
      <li>{{activity_name}} </li>
    {{/each}}
    </ul>
    <br>

  </br>
   <a href="/">Home</a>
  </body>
</html>
