<!DOCTYPE html>
<html>
  <head>
    <title>Activities</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to {{name}}</h1>

    <p> Here's some fun things to do while you're here : </p>

  <ul>
    {{#each activities}}
      <li><a href="/activities/{{location_id}}">{{activity_name}} </a></li>
    {{/each}}
    </ul>


  </br>
   <a href="/">Home</a></br>
   <a href="/locations/newactivity/{{id}}">Add new activity</a>

  </body>
</html>
