
<form class="form" action="/locations/newactivity/{{id}}"" method="post">

  <label for="name" class="form-item">
    Activity you like:
    <input type="text" name="name" value="{{name}}">

  </label>


  <input type="submit" name="" value="Submit">
</form>
