<!DOCTYPE html>
<html>
  <head>
    <title>Holiday</title>
  </head>
  <body>
    <h1> Are you ready for holidays?</h1>
    <h2> Pick where you want to go!</h2></br>  <ul>
      {{#each keyArray}}
       <li><a href=/weather/{{id}}>{{name}}</a></li>
     {{/each}}
    </ul>
  </body>
</html>
