<!DOCTYPE html>
<html>
  <head>
    <title>Location</title>
  </head>
  <body>
    <h2>Here are some beautiful spots for you to choose !</h2>
    <ul>
    {{#each locations}}
      <li><a href="/locations/{{id}}">{{name}} </a></li>
    {{/each}}
    </ul>
    <br>
    <h2> Have a great trip !</h2>
  </br>
   <a href="/">Home</a>
  </body>
</html>
